body {
    font-family: "Montserrat";
    text-align: center;
}
.flash {
    background: #f6f9fc;
    padding: 50px 0;
}
.buttons{
    padding-top: 20px;
}

.title h2 {
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
