.admin-sidebar .sidebar {
    background-color: #f5f5f5;
    height: 100vh;
    width: 15%;
    display: block;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 5px;
}

.admin-sidebar .sidebar li {
    height: 10vh;
    list-style: none;
}

.admin-sidebar .sidebar a {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
}

.admin-sidebar .sidebar a:hover {
    color: #f5f5f5;
    background-color: #3D3D3D;
}

.admin-sidebar .horizontal-divider {
    margin: 10px 0px;
    border-bottom: solid 2px #3D3D3D;
}

.admin-background {
    background-color: white;
    height:100vh;
    color: black;
}
